---
title: "Automatic Email Verification"
date: 2016-04-27T00:00:00
summary: "Verify existence of an email without sending any spam mail."
tags: ["Java"]
external_link: "https://github.com/diptadas/java-projects/tree/master/verify-email"
image:
  caption: "email_verification"
  focal_point: "Smart"
---
